---
const { title = "Custom Panel" } = Astro.props;
---

<div class="panel">
  <h2>{title}</h2>
  <div class="box">[ Add shorcuts here +]</div>
</div>

<style>
  .panel {
    background: #1a1d24;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #2a2d34;
  }

  .box {
    height: 150px;
    background: #0f1116;
    border: 1px solid #2a2d34;
    border-radius: 6px;
  }
</style>
